<header>
  <nav class="navbar navbar-expand-md navbar-dark border border-top-0 border-left-0 border-right-0 shadow-lg">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/portfolio" class="nav-link">Portfolio</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
    
    <div class="d-flex ml-auto">
        <a href="https://www.linkedin.com/in/sherry-freitas/" target="_blank" rel="noopener"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="https://github.com/sfreitas9" target="_blank" rel="noopener"><i class="fab fa-github mx-3 fa-lg"></i></a>
        <a href="https://pebsprinks.joomla.com/" target="_blank" rel="noopener"><i class="fas fa-user-circle fa-lg"></i></a>
    </div>
  </nav>
</header>

